<%- include("../../fragments/header.ejs") %>
<div id="popup-add" class="popup">Płyta została dodana</div>
<main>
    <script type="application/javascript" src="/js/validationRecordForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2>Nowa płyta</h2>
    <form class="form" action="#popup-add" novalidate onsubmit="return validateForm();">
        <label for="recordName">Tytuł: <span class="symbol-required">*</span></label>
        <input type="text" name="recordName" id="recordName" required />
        <span id="errorRecordName" class="errors-text"></span>

        <label for="artistName">Artysta: <span class="symbol-required">*</span></label>
        <input type="text" name="artistName" id="artistName" required />
        <span id="errorArtistName" class="errors-text"></span>

        <label for="price">Cena za dzień: <span class="symbol-required">*</span></label>
        <input type="number" min="0.00" name="price" id="price" required />
        <span id="errorPrice" class="errors-text"></span>

        <label for="unit">Ilość dostępnych: <span class="symbol-required">*</span></label>
        <input type="number" name="unit" id="unit" required />
        <span id="errorUnit" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit-add" />
            <a href="list.ejs" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include("../../fragments/footer.ejs") %>