<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Record Rental</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
<div id="popup-edit" class="popup">Płyta została edytowana</div>
<header>
    <h1>Record Rental</h1>
    <img src="../../../public/images/logo.png" alt="logo">
    <script type="application/javascript" src="../../../public/js/validationRecordForm.js"></script>
    <script type="application/javascript" src="../../../public/js/validationCommon.js"></script>
</header>
<nav>
    <ul>
        <li><a href="../../index.ejs">Strona główna</a></li>
        <li><a href="../client/list.ejs">Klienci</a></li>
        <li><a href="list.ejs" class="active">Płyty</a></li>
        <li><a href="../rental/list.ejs">Wynajmy</a></li>
    </ul>
</nav>
<main>
    <h2>Edycja płyty</h2>
    <form class="form" action="#popup-edit" novalidate onsubmit="return validateForm();">
        <label for="recordName">Tytuł: <span class="symbol-required">*</span></label>
        <input type="text" name="recordName" id="recordName" value="Bleach" required />
        <span id="errorRecordName" class="errors-text"></span>

        <label for="artistName">Artysta: <span class="symbol-required">*</span></label>
        <input type="text" name="artistName" id="artistName" value="Nirvana" required />
        <span id="errorArtistName" class="errors-text"></span>

        <label for="price">Cena za dzień: <span class="symbol-required">*</span></label>
        <input type="number" name="price" min="0.00" id="price" value="14.00" required />
        <span id="errorPrice" class="errors-text"></span>

        <label for="unit">Ilość dostępnych: <span class="symbol-required">*</span></label>
        <input type="number" name="unit" id="unit" value="8" required />
        <span id="errorUnit" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Edytuj" class="form-button-submit-edit"/>
            <a href="list.ejs" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<footer>Patryk Leszczyński s20747</footer>
</body>
</html>