<%- include("../../fragments/header.ejs") %>
<div id="popup-edit" class="popup">Płyta została edytowana</div>
<main>
    <script type="application/javascript" src="/js/validationRecordForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2>Edycja płyty</h2>
    <form class="form" action="#popup-edit" novalidate onsubmit="return validateForm();">
        <label for="recordName">Tytuł: <span class="symbol-required">*</span></label>
        <input type="text" name="recordName" id="recordName" value="Bleach" required />
        <span id="errorRecordName" class="errors-text"></span>

        <label for="artistName">Artysta: <span class="symbol-required">*</span></label>
        <input type="text" name="artistName" id="artistName" value="Nirvana" required />
        <span id="errorArtistName" class="errors-text"></span>

        <label for="price">Cena za dzień: <span class="symbol-required">*</span></label>
        <input type="number" name="price" min="0.00" id="price" value="14.00" required />
        <span id="errorPrice" class="errors-text"></span>

        <label for="unit">Ilość dostępnych: <span class="symbol-required">*</span></label>
        <input type="number" name="unit" id="unit" value="8" required />
        <span id="errorUnit" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Edytuj" class="form-button-submit-edit"/>
            <a href="list.ejs" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>
<%- include("../../fragments/footer.ejs") %>