<%- include("../../fragments/header.ejs") %>
<main>
    <h2>Szczegóły wynajmu</h2>
    <form class="form">
        <label for="firstName">Imię:</label>
        <input type="text" name="firstName" id="firstName" value="Siemowit" disabled required />

        <label for="lastName">Nazwisko:</label>
        <input type="text" name="lastName" id="lastName" value="Blanek" disabled required />

        <label for="recordName">Tytuł:</label>
        <input type="text" name="recordName" id="recordName" value="Bleach" disabled required />

        <label for="artistName">Artysta:</label>
        <input type="text" name="artistName" id="artistName" value="Nirvana" disabled required />

        <label for="price">Cena za dzień:</label>
        <input type="number" name="price" min="0.00" id="price" value="14.00" disabled required />

        <label for="startDate">Data od:</label>
        <input type="date" name="startDate" id="startDate" value="2022-09-22" required disabled />

        <label for="endDate">Data do:</label>
        <input type="date" name="endDate" id="endDate" disabled/>
    </form>
    <a href="form-edit.ejs" class="button-edit">Edytuj</a>
    <a href="list.ejs" class="button-back">Powrót</a>
</main>
<%- include("../../fragments/footer.ejs") %>