<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Record Rental</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
<header>
    <h1>Record Rental</h1>
    <img src="../../../public/images/logo.png" alt="logo">
</header>
<nav>
    <ul>
        <li><a href="../../index.ejs">Strona główna</a></li>
        <li><a href="../client/list.ejs">Klienci</a></li>
        <li><a href="../record/list.ejs">Płyty</a></li>
        <li><a href="list.ejs" class="active">Wynajmy</a></li>
    </ul>
</nav>
<main>
    <h2>Lista wynajmów</h2>
    <p class="list-empty-text">Brak rekordów do wyświetlenia</p>
    <a href="form.ejs" class="button-add">Dodaj nowy wynajem</a>
</main>
<footer>Patryk Leszczyński s20747</footer>
</body>
</html>