<%- include("../../fragments/header.ejs") %>
<main>
    <h2>Lista klientów</h2>
    <p class="list-empty-text">Brak rekordów do wyświetlenia</p>
    <a href="/clients/add" class="button-add">Dodaj nowego klienta</a>
</main>
<%- include("../../fragments/footer.ejs") %>